header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(180, 180, 180, 0.5);
  background-color: rgb(235, 235, 235, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;

  
}
h1 {
  width: 30%;
  font-family: "TypeWriter2";
  margin: 0;
  font-size: 1rem;
  margin-left: 1rem;
}
nav {
  width: 90%;
  padding-right: 5%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  list-style: none;
  margin: 0;
  justify-content: flex-end;
  width: 100%;
}

.nav-item {
  margin: 0;
  margin: 0.5rem;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav-item:hover {
  scale: 1.1;
}
.nav-link {
  text-decoration: none;
  margin: 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav-link:visited {
  color: inherit;
}
.nav-link-active{
  text-decoration: underline;
 
}
.nav-link-active p {
  text-decoration: none;
 
}

.cart-num {
  background-color: rgb(108, 108, 108);
  color: white;
  text-align: center;
  font-size: 0.8rem;
  min-height: 20px;
  min-width: 20px;
  border-radius: 0.2rem;
  position: relative;
  margin: 0;
  text-decoration: none; }
  

  @media (max-width: 767px) {
    /* Styles specific to phones */
    /* Write your phone-specific styles here */
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Styles specific to tablets */
    /* Write your tablet-specific styles here */
  }
  
  @media (min-width: 1024px) {
    /* Styles specific to computers */
    /* Write your computer-specific styles here */
  }